<!Doctype>
<html>
    <head>
    </head>
    <body>
        <form method="POST" action="/images" enctype="multipart/form-data">
            <input type="file" name="myImage" accept=".mp4"/>
            <button type="submit">Submit</button>
           
        </form>
        <form action="/images" method="GET">

        </form>
       
    </body>
</html>